/composer.json
/composer.lock
/CONTRIBUTING.md
/index.php
/INSTALL.md
/LICENSE.txt
/.idea
/node_modules
/typo3
/typo3temp
/vendor
/adminer-4.2.5.php
/ChangeLog
/typo3conf/l10n
/typo3conf/ENABLE_INSTALL_TOOL
/typo3conf/ext/extension_builder
/fileadmin/user_upload
/fileadmin/_processed_
/fileadmin/_temp_
/fileadmin/Resources/Public/Css/*.css
/fileadmin/Resources/Public/Css/*.map
/_.htaccess
/uploads
/fileadmin/Resources/Private/Scss/Qinx
