$icons: (
	sprite: (width: 110px, height: 76px, svgPath: '../Images/sprite.svg'),
 	logo: (width: 100px, height: 28px, backgroundX: 0px, backgroundY: 0px),
 	logo-small: (width: 28px, height: 28px, backgroundX: 0px, backgroundY: -38px),
);