// Dl
// ---------------------------------------------------------------------------------------------------------------------
.dl-inline {
	& {
		@include clearfix;
	}

	dt {
		float: left;
		margin: 0 3px 0 0;
	}

	dd {
		float: left;
		margin: 0 15px 0 0;
	}
}

// Listen
// ---------------------------------------------------------------------------------------------------------------------
.list-inline {
	& {
		@include clearfix;
		list-style: none;
	}

	& > li {
		float: left;
	}
}

.list-container {
	& {
		list-style: none;
	}

	& > li {
		& {
			margin: 0;
			padding: 5px 0;
			border-top: 1px solid $grey-light;
		}

		&:before {
			display: none;
		}
	}

	& > li:first-child {
		margin: 0;
		padding: 0 0 5px 0;
		border: 0;
	}

	& > li:last-child {
		padding: 5px 0 0 0;
	}
}

// Actions
// ---------------------------------------------------------------------------------------------------------------------
.list-actions {
	& {
		margin: 0;
		padding: 0;
		list-style: none;
		text-align: right;
	}

	li {
		& {
			display: inline-block;
			margin: 0;
		}

		&:last-child {
			margin-right: 0;
		}

		&:before {
			display: none;
		}

		&:after {
			height: 12px;
			content: '';
			display: inline-block;
			margin: 0 5px 0 7px;
			border-right: 1px solid $grey-light;
		}

		&:last-child:after {
			display: none;
		}
	}
}